// Keyframe animations:
@keyframes pulse
    from
        transform: scale(1)
    to
        transform: scale(1.1)

@keyframes spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

.nanosplash-container
    // Base of container
    position: absolute
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 1
    border-radius: inherit
    overflow: inherit

    // When container is hidden
    &[hidden="true"]
        display: none
    // When container is visible
    &:not([hidden="true"])
        display: flex

    // Standardized blur modes:
    &[data-blur="none"]:not([hidden="true"]) ~ *
        filter: blur(0)
    &[data-blur="light"]:not([hidden="true"]) ~ *
        filter: blur(2px)
    &[data-blur="medium"]:not([hidden="true"]) ~ *
        filter: blur(4px)
    &[data-blur="heavy"]:not([hidden="true"]) ~ *
        filter: blur(10px)

    // Loading text
    .nanosplash-text
        text-rendering: optimizeLegibility
        -moz-osx-font-smoothing: grayscale
        font-smoothing: antialiased
        -webkit-font-smoothing: antialiased
        text-shadow:  0 0 2px rgba(0, 0, 0, 0.2)
    
    // Splash image
    img.nanosplash-img
        margin-bottom: 40px

    // Standardized splash image animations:
    &[data-splash-animation="pulse"] > img
        animation-name: pulse
        animation-duration: 300ms
        animation-direction: alternate
        animation-iteration-count: infinite
    &[data-splash-animation="spin"] > img
        animation-name: spin
        animation-duration: 700ms
        animation-iteration-count: infinite
        animation-timing-function: linear

    // Style exception when container is the direct child of body
    body > &:not([hidden="true"])
        height: 100vh
        width: 100%