$z-index-regular: 1
$z-index-fullscreen: 2
$bg-color: rgba(White, 0.8)

%blur
  overflow: hidden
  filter: blur(5px)

.ns-wrapper
  position: relative

.ns-fs
  top: 0
  left: 0
  position: fixed
  min-width: 100%
  min-height: 100vh
  z-index: $z-index-fullscreen

// Fullscreen content blur
body .ns-fs ~ *, .ns-blur
  @extend %blur

.ns-window
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  position: absolute
  align-items: center
  justify-content: center
  z-index: $z-index-regular
  background-color: $bg-color

.ns-img
  max-width: 9rem
  max-height: 9rem
  margin-bottom: 1rem

.ns-text
  color: #333
  display: flex
  text-align: center
  &::after
    margin-left: 0.25em
    content: '\00a0\00a0\00a0'
    animation: anim 1s infinite

@keyframes anim
  0%
    content: '\00a0\00a0\00a0'
  30%
    content: '.\00a0\00a0'
  60%
    content: '..\00a0'
  90%
    content: '...'
